In [77]:
# Library : a resuable piece of code 
import pandas as pd # mục đích là mỗi lần gọi thư viện ra thì chỉ cần gọi tên sau alias
import os # OS: operating system

In [35]:
os.getcwd() # cho biết notebook đang hướng từ đâu

'C:\\Users\\Admin\\Pytraining'

In [78]:
os.chdir(r'C:\Users\Admin\Pytraining') # thay đổi  đường dẫn ban đầu hướng về đường dẫn khác

In [79]:
os.getcwd()

'C:\\Users\\Admin\\Pytraining'

In [80]:
df = pd.read_excel('Country.xlsx')

In [81]:
df

          Country          Region
0         Vietnam  Southeast Asia
1        Malaysia  Southeast Asia
2       Singapore  Southeast Asia
3        Thailand  Southeast Asia
4           China       East Asia
5           Japan       East Asia
6           Spain          Europe
7  United Kingdom          Europe
8   United States   North America
9           Mexio   North America

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  10 non-null     object
 1   Region   10 non-null     object
dtypes: object(2)
memory usage: 288.0+ bytes

In [42]:
# index : index cols and index rows ( indexing được hiểu giống filter trong excel )
df.iloc[4]

Country         China
Region     East Asia
Name: 4, dtype: object

In [82]:
# chỉ chọn country thuộc Southeast Asia 
# indexing ( indexing được hiểu giống filter trong excel )
sea_df = df[df['Region']=='Southeast Asia']

In [83]:
sea_df

     Country          Region
0    Vietnam  Southeast Asia
1   Malaysia  Southeast Asia
2  Singapore  Southeast Asia
3   Thailand  Southeast Asia

In [68]:
ea_df = df[df['Region'] =='East Asia']
eu_df = df[df['Region'] =='Europe']
na_df = df[df['Region'] =='North America']

In [69]:
ea_df

  Country     Region
4   China  East Asia
5   Japan  East Asia

In [51]:
eu_df

          Country  Region
6           Spain  Europe
7  United Kingdom  Europe

In [52]:
na_df

         Country         Region
8  United States  North America
9          Mexio  North America

In [45]:
# & = and, | = or , ~ : not
asia_df = df[(df['Region']=='East Asia') | (df['Region']=='Southeast Asia')]

In [46]:
asia_df

Empty DataFrame
Columns: [Country, Region]
Index: []

In [24]:
df[~(df['Region'] == 'North America')]

          Country           Region
0         Vietnam  Southeast Asia
1        Malaysia  Southeast Asia
2       Singapore  Southeast Asia
3        Thailand  Southeast Asia
4           China       East Asia
5           Japan       East Asia
6           Spain           Europe
7  United Kingdom           Europe

In [25]:
# sdung dấu != : khác
df[df['Region'] != 'North America']

          Country           Region
0         Vietnam  Southeast Asia
1        Malaysia  Southeast Asia
2       Singapore  Southeast Asia
3        Thailand  Southeast Asia
4           China       East Asia
5           Japan       East Asia
6           Spain           Europe
7  United Kingdom           Europe

In [26]:
asia_df.to_csv('output.csv')

In [ ]:
# excel : ko đk đi quá 1 triệu dòng , còn csv thì đi bao nhiêu đk 
# excel : thì có bnhieu sheet, còn csv chỉ có 1 bảng tính

In [16]:
# output ra excel 
writer = pd.ExcelWriter('output.xlsx', engine = 'xlsxwriter')
asia_df.to_excel(writer, sheet_name = 'asia', index = False)
eu_df.to_excel(writer, sheet_name ='eu', index = False)
na_df.to_excel(writer,sheet_name ='na', index = False)
writer.save()
writer.close()

C:\Users\Admin\anaconda3\lib\site-packages\xlsxwriter\workbook.py:339: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")

In [17]:
out_df = pd.read_excel('output.xlsx', sheet_name = 'asia')

In [19]:
eu_df = pd.read_excel('output.xlsx', sheet_name = 'eu')

In [20]:
eu_df

          Country  Region
0           Spain  Europe
1  United Kingdom  Europe