# Buổi số 1 
# - Data type, data structure :
# data tye : dạng giá trị của dữ liệu (int, float,str,datatime, boolean...)
# data structure : cách dữ liệu được lưu trữ (tabular, non-tabular)
# - Operators:
# + Arithmetic operators: +, -,*,/,**,//,%
# + Comparison  operators : >, <,>=,<=,==,!=
# + Logical operators : and, or, in, not in
# - Casting : Chuyển đổi 1 dạng dữ liệu sang 1 dạng dữ liệu khác (convert)
# - Casting functions : str(); int(), float(); list();
# - Built-in functions: print(); sum();max(),min(); range() : bộ đếm, type(): cho biết kiểu dữ liệu của biến số ý..
# - String indexing : đi từ số bên trái đến số bên phải trừ đi 1 đơn vị. Ví dụ:
# s = 'abc123' => s[0:2] = 'ab'

# Buổi số 2
- If statement:
if <condition>:
     <do smth>
elif <condition>:
      <do smth>
else:
      <do smth>
      
 - For Loop:
for <element> in <iterable>:
     <do smth>
iterable : 1 dscah, 1 tập hợp khác nhau để duyệt ra từng phần tử khác nhau. Chúng ta có thể có list, array, range, pandas column, etc.

- While Loop:
while <condition>:
      <do smth>
- User - defined function : các hàm số mà người viết code tự tạo ra 
def find_max(a,b):
    if a > b:
       return a 
     else:
       return b
       
find_max(3,5)

- Method and function:
+ Syntax:
   function: <function>(<input>)
   method: <input>.<method>(<params>)
+ Purpose: method tác động lên input, function trả ra output tương ứng vs input

aĐ# Buổi 3 -> 6 :
Thư viện os: https://docs.python.org/3/library/os.html
- os.getcwd(): đường dẫn mà code đang hướng tới 
- os.chdir(): đổi đường dẫn của code (chứ ko đổi vị trí của code)

Thư viện Pandas: https://pandas.pydata.org/
- Đọc file:
+ Excel (.xlsx): pd.read_excel(<filename>. sheet_name=...)
+ Csv(.csv) : pd.read_csv(<filename>)
- Xuất file:
+ Csv(.csv) : <dataframe>.to_csv(<filename>)
+ Excel:
writer = pd.ExcelWriter(<filename>, engine = 'xlsxwriter')
<dataframe>.to_excel(writer, sheet_name =..., index = False)
writer.save()
writer.close()
- Methods:
+ Delete rows : <dataframe>.drop([<list of indices>], inplace) ( về mặc cố định inplace set False nếu True thì thực hiện lên data gốc
+  Delete columns : <dataframe>.drop([<list of columns>], axis = 1, inplace)
+ Delete data bị trống : <dataframe>.dropna(how ='any'/'all', subset)
+ Fill data bị trống : <dataframe>.fillna(value, method = 'bfill'/'ffill')
+ Chọn một số dòng đầu tiên: <dataframe>.head(<number of rows>)
+ Sắp xếp value : <dataframe>.sort_values(by = < column>/[<list_of_column>])
ví dụ :
age_fare_df = df[['PassengerId','Age','Fare']]
age_fare_df.sort_values(by =['Age','Fare'], ascending = false)

+ Merge (Join) dữ liệu từ các bảng lại vs nhau : <left_dataframe>.merge(<right_dataframe>, how = 'inner'/'outer'/'left'/'right', on = <identifier>)
+ Pivot table : pd.pivot_table(<dataframe>, index, values, aggfunc, columns)

- Functions : 
+ Đọc  file : pd.read_excel; pd.read_csv
+ Xuất file : pd.ExcelWriter
+ Concat dữ liệu ở các bảng lại vs nhau : pd.concat([<list_of_dataframes>], ignore_index =True)

In [2]:
# Split and join str : 
n = 'Nguyen Tuyet Nhi'
l = n.split(' ')
l

['Nguyen', 'Tuyet', 'Nhi']

In [3]:
s = '_'.join(l)
s

'Nguyen_Tuyet_Nhi'

In [80]:
# From a list of names, return a list of initials
def get_initials(s):
    initial_list = []
    for e in s.split(' '):
        initial_list.append(e[0])
    output = ''.join(initial_list)
    return output

get_initials('nguyen tuyet nhi') #Should return 'NTD'

'ntn'

In [88]:
# Read name.xlsx into a dataframe, the create a new column named 'Initials' which contains
# the initials of names in the 'Name' columns
import pandas as pd 
import os

In [99]:
os.chdir(r'C:\Users\Admin\Pytraining')

In [100]:
df = pd.read_excel('name.xlsx', sheet_name= 'Sheet1')
df

               Name
0  Nguyen Thanh Dat
1     Ho Mai Phuong
2  Nguyen Tuyet Nhi

In [101]:
# Cách 1:
l = []
for i in range(len(df)):
    l.append(get_initials(df['Name'][i]))
df['Initials'] = l

In [102]:
df

               Name Initials
0  Nguyen Thanh Dat      NTD
1     Ho Mai Phuong      HMP
2  Nguyen Tuyet Nhi      NTN

In [103]:
# Cách 2:
df['Initials'] = df['Name'].apply(get_initials)

In [104]:
df

               Name Initials
0  Nguyen Thanh Dat      NTD
1     Ho Mai Phuong      HMP
2  Nguyen Tuyet Nhi      NTN